<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">課程筆記系統</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">主頁面</a></li>
      <li><a href="#">Feedback</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if(user.character == 'teacher'){ %>
        <li class="dropdown"><a href="#">老師 <span class="glyphicon glyphicon-user"></span><%= user.username %></a></li>
      <% }else{ %>
        <li class="dropdown"><a href="#">學生 <span class="glyphicon glyphicon-user"></span><%= user.username %></a></li>
      <% } %>  
      <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h1>課程頁面</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>我的課程</th>
        <th>授課老師</th>
        <th>時間</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < courseList.length; i++ ){ %>
      <tr>
        <td><%= courseList[i].courseName %></td>
        <td><%= courseList[i].courseTeacher %></td>
        <td><%= courseList[i].courseTime %></td>
        <td>
          <% if(user.character == 'student'){  %>
            <form method="POST" action="/studentLessonPage">
          <% }else{ %>
            <form method="POST" action="/teacherLessonPage">
              <input type="hidden" name="username" value="<%= user.username %>">
              <input type="hidden" name="courseName" value=<%= courseList[i].courseName %>>
              <input type="hidden" name="courseID" value=<%= courseList[i].courseID %>>
              <input class="btn btn-success" type="submit" value="進入課程">
            </form>
          </td>
        <% } %>    
      <% } %>
    </tbody>
  </table>
</div>

</body>
</html>
