<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Note-taking System</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a href="#"><span class="glyphicon glyphicon-user"></span><%= user.username %></a></li>
      <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>我的課程</th>
        <th>授課老師</th>
        <th>時間</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < classList.length; i++ ){ %>
      <tr>
        <td><%= classList[i].className %></td>
        <td><%= classList[i].classTeacher %></td>
        <td><%= classList[i].classTime %></td>
        <td>
          <form method="POST" action="/notesInOneClass">
            <input type="hidden" name="username" value=<%= user.username %>>
            <input type="hidden" name="className" value=<%= classList[i].className %>>
            <input type="hidden" name="classID" value=<%= classList[i].classID %>>
            <input class="btn btn-success" type="submit" value="進入課程">
          </form>
        </td>
      <% } %>
    </tbody>
  </table>
</div>

</body>
</html>
