<!DOCTYPE html>
<html>
<head>
  <title>課程章節頁面</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script>
      function newLesson(){
        if( document.getElementById('newLessonBtn').innerHTML == '新增章節'){
            var newLessonBlock = document.getElementById('newLessonBlock');
            newLessonBlock.setAttribute('style','');
            document.getElementById('newLessonBtn').innerHTML = '隱藏新增章節區塊';
        }
        else{
            var newLessonBlock = document.getElementById('newLessonBlock');
            newLessonBlock.setAttribute('style','display:none;');
            document.getElementById('newLessonBtn').innerHTML = '新增章節';
        }
      }
      function post_to_url(path, params, method) {
        method = method || "post"; // Set method to post by default, if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }
        document.body.appendChild(form);    // Not entirely sure if this is necessary
        form.submit();
}
  </script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid my-nav-block">
    <div class="navbar-header">
      <a class="navbar-brand" href="/home">課程筆記系統</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/home">主頁面</a></li>
      <li><a href="#">Feedback</a></li>
      <button class="btn btn-danger navbar-btn" id="newLessonBtn" onclick="newLesson()">新增章節</button>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown"><a href="#">老師 <span class="glyphicon glyphicon-user"></span><%= username %></a></li>
      <li><a href="/signout"><span class="glyphicon glyphicon-log-out"></span> 登出</a></li>
    </ul>
  </div>
</nav>
 

<div class="container">
  <h1><%= courseName %></h1>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <h2>課程章節資訊</h2>
      <div class="form-group" id="newLessonBlock" style="display:none;">
        <h3>新增章節</h3>
        <label>章節標題:</label>
        <input type="text" class="form-control">
        <label>第幾章節</label>
        <input type="text" class="form-control">
        <label><a href="https://www.slideshare.net/">SlideShare Embed code</a></label>
        <input type="text" class="form-control">
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>章節</th>
            <th>標題</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if(lessonInfo.length > 0){ %>
            <% for(var i = 0; i < lessonInfo.length; i++ ){ %>
            <tr>
            <td><%= lessonInfo[i].lessonNum %></td>
            <td><%= lessonInfo[i].title %></td>
            <td>
              <form method="POST" action="/note-taking">
                <input type="hidden" name="username" value= "<%= username %>" >
                <input type="hidden" name="courseID" value= "<%= lessonInfo[i].courseID %>" >
                <input type="hidden" name="lessonNum" value= "<%= lessonInfo[i].lessonNum %>" >
                <input type="hidden" name="lessonTitle" value= "<%= lessonInfo[i].title %>" >
                <input class="btn btn-success" type="submit" value="進入筆記">
              </form>
              <script>
                  $(function () {
                    $("#testajx").on("click",function  () {
                      var courseInfo = {};
                      courseInfo.username = "<%= username %>";
                      courseInfo.courseID = "<%= lessonInfo[i].courseID %>";
                      courseInfo.lessonNum = "<%= lessonInfo[i].lessonNum %>"
                      $.ajax({
                          type: 'post',
                          data: JSON.stringify(courseInfo),
                          contentType: 'application/json',
                          url: '/studentsInLesson',
                          success: function(data) {
                              var noteList = document.getElementById('studentNoteList');
                              noteList.innerHTML = "";
                              var urNode = document.createElement('ul');
                              for(var i in data){
                                var liNode = document.createElement('li');

                                var form = document.createElement("form");
                                form.setAttribute("method", "POST");
                                form.setAttribute("action", "/teacher-note-taking");

                                var hiddenOwnerName = document.createElement("input");
                                hiddenOwnerName.setAttribute("type", "hidden");
                                hiddenOwnerName.setAttribute("name", "noteOwner");
                                hiddenOwnerName.setAttribute("value", data[i].user);

                                var hiddenCourseID = document.createElement("input");
                                hiddenCourseID.setAttribute("type", "hidden");
                                hiddenCourseID.setAttribute("name", "courseID");
                                hiddenCourseID.setAttribute("value", "<%= lessonInfo[i].courseID %>");

                                var hiddenLessonNum = document.createElement("input");
                                hiddenLessonNum.setAttribute("type", "hidden");
                                hiddenLessonNum.setAttribute("name", "lessonNum");
                                hiddenLessonNum.setAttribute("value", "<%= lessonInfo[i].lessonNum %>");

                                var hiddenLessonTitle = document.createElement("input");
                                hiddenLessonTitle.setAttribute("type", "hidden");
                                hiddenLessonTitle.setAttribute("name", "lessonTitle");
                                hiddenLessonTitle.setAttribute("value", "<%= lessonInfo[i].title %>");

                                var submitBtn = document.createElement("input");
                                submitBtn.setAttribute("type", "submit");
                                submitBtn.setAttribute("value", data[i].user);

                                form.appendChild(hiddenOwnerName);
                                form.appendChild(hiddenCourseID);
                                form.appendChild(hiddenLessonNum);
                                form.appendChild(hiddenLessonTitle);
                                form.appendChild(submitBtn);

                                liNode.appendChild(form);
                                urNode.appendChild(liNode);
                                console.log(data[i]);
                                console.log(data[i].user);
                              }

                              noteList.appendChild(urNode);
                              
                              

                          }
                      });
                    })
                  });
                </script>
              <button class="btn btn-success" id="testajx">顯示</button> 
            </td>
            <% } %>
          <% }else{ %>
            <tr>
              <td>目前沒有課程!</td>
              <td></td>
              <td></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="col-sm-6">
      <h2>學生筆記列表</h2>
      <div id="studentNoteList">
        <p>請挑選課程並按下顯示筆記按鈕</p>
      </div>
    </div>
  </div>
  
</div>

</body>
</html>
